@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    font-size: 62.5%;
    /* CSS Variables */
    --font-header: 'Abril Fatface', cursive;
    --font-content: 'Ubuntu', sans-serif;
    --color-main: #355f64;
    --color-main-highlight: #3e6f75;
    --color-secondary: #FFA347;
    --color-secondary-highlight: hsl(30, 100%, 70%);
    --color-secondary-dark: #ff8a14;
    --color-light-text: #F5F5F5;
    --color-dark-text: #3C3C3C;
}

html {
    font-family: var(--font-content);
}

body {
    font-size: 1.6rem;
    margin: 0;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-main);
    /* background: rgba(88,123,127, 0.75); */
    border-bottom: 0.4rem solid var(--color-secondary);
    box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main {
    margin-top: 6em;
}

section {
    margin-bottom: 5em;
}

h2 {
    font-size: 3rem;
    font-family: var(--font-header);
}

h3 {
    font-size: 2.4rem;
}
/*##########################
        Nav-Bar Styling
###########################*/

/* Adjusts the children of the navbar to stack horizontally and position to the right */

#nav-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

/* Adjust the spacing around each list item */

#nav-bar li {
    padding: 0.2em 0.1em;
    margin: 0.5em 0.5em;
}

/* Adust the style of each anchor link */

#nav-bar a {
    /* Position: relative will make the hover line appear under each anchor,
     instead of spanning the entire navbar */
    position: relative;
    color: var(--color-light-text);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-header);
}

/* Styles the hover line for the anchor */

#nav-bar a:after {
    /* Position: absolute needed to adjust the position of the hover line. 
    Otherwise it will appear to the right of the anchor */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color-light-text);
    height: 0.1rem;
}

/* Adjusts the size of the hover line when hovering over the anchor */

#nav-bar a:hover:after {
    width: 100%;
}

/* Applies the transition to the anchor */

#nav-bar a, #nav-bar a:after, #nav-bar a:before {
    transition: all .5s;
}

/*##########################
        Header Styling
###########################*/

/* Layout for the title and logo */

#header-container {
    display: flex;
    align-items: flex-end;
}

#header-container img {
    /* width: 3.5em; */
    width: 2.5em;
    height: auto;
    margin: 0.5em;
}

#title h1 {
    font-family: var(--font-header);
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-light-text);
    margin: 0;
}

#title p {
    color: var(--color-light-text);
    margin: 0;
    margin-bottom: 0.5em;
}

/*##########################
        Contact Styling
###########################*/

#contact {
    padding: 5em 1em 1em 1em;
    text-align: center;
}

#contact h2 {
    font-weight: 900;
    font-family: var(--font-header);
}

#contact p {
    font-size: 2rem;
    font-weight: 500;
}

#email {
    font-size: 2rem;
    display: block;
    min-width: 10em;
    width: 100%;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    border: 0.1em solid var(--color-main);
    border-radius: 0.25em;
}

#email:focus {
    outline-offset: 0.1em;
    border: 0.15em solid var(--color-main);
}

#submit {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5em 1em;
    border: 0.15em solid var(--color-main);
    border-radius: 0.4em;
    background-color: var(--color-secondary);
    color: var(--color-dark-text);
    transition-property: color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

#submit:hover, #submit:focus {
    color: var(--color-light-text);
    background-color: #AD5B0E;
}

/*##########################
        Benefits Styling
###########################*/

#benefits h2 {
    text-align: center;
}

#benefits a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-secondary);
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

#benefits a:hover {
    color: #AD5B0E;
}

#benefits .container {
    display: grid;
    width: 50vw;
    margin: 0 auto;
    grid-template: auto auto / auto 1fr;
    grid-template-areas: 'icon header' 'icon content';
    margin-bottom: 3em;
    column-gap: 2em;
}

#benefits .icon {
    grid-area: icon; 
    max-width: 6em;
}

#benefits h3 {
    grid-area: header;
    align-self: flex-end;
    margin: 0;
}

#benefits p {
    grid-area: content;
    align-self: flex-start;
    font-size: 1.8rem;
    margin: 0 0 0.5em 0;
}

#benefits iframe {
    display: block;
    margin: 5em auto;
}

/*##########################
        Features Styling
###########################*/
#features .flex {
    display: flex;
    justify-content: center;
}

#features h2 {
    text-align: center;
}

#features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20vw;
    margin: 0 2em;
}

#features .icon {
    grid-area: icon; 
    max-width: 6em;
}

#features h3 {
    color: var(--color-main);
}

/*##########################
        Pricing Styling
###########################*/

#pricing h2 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    border: 0.25em solid var(--color-secondary);
    background-color: var(--color-main);
    width: 20em;
    min-height: 25em;
    margin: 0 2em;
    box-shadow: 0.4em 0.4em 1em rgba(0, 0, 0, 0.8);
    box-shadow: 0.8em 0.8em 2em rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'content' 'pricing';
    cursor: pointer;    
    position: relative;
    transition: scale 200ms linear;
}

.card:hover {
    background-color: var(--color-main-highlight);
    border: 0.25em solid var(--color-secondary-highlight);
}

.card-active {
    border: 0.25em solid var(--color-secondary-dark);
    box-shadow: 0.4em 0.4em 1em rgba(0, 0, 0, 0.8);
    scale: 1.05;
}

.card h3 {
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-light-text);
    border-bottom: 0.1em solid var(--color-secondary);
    max-width: 80%;
    margin: 0.4em auto;
    padding: 0.4em 0;
    grid-area: header;
}

.card label {
    position: absolute;
    width: 100%;
    height: 100%;    
}

.card input[type=radio] {
    display: none;
}

.subscribe-button {
    display: block;
    margin: 2em auto 0 auto;
    padding: 0.5em 10em;
    background-color: var(--color-secondary);
    color: var(--color-dark-text);
    font-size: 2.4rem;
    border-radius: 1em;
    border: none;
}

.subscribe-button:hover {
    background-color: var(--color-secondary-highlight);
}

.card ul {
    margin: 1em 0;
    padding-left: 2em;
    grid-area: content;
    text-align: left;
}

.card ul li {
    list-style: circle;    
    font-size: 1.8rem;
    color: var(--color-light-text);
    padding-bottom: 1em;
}

.card .tier-pricing {
    font-size: 2.4rem;
    font-weight: 900;    
    color: var(--color-secondary);
    grid-area: pricing;
    justify-self: center;
}

/*##########################
        Footer Styling
###########################*/
footer {
    background-color: var(--color-main);
    border-top: 0.2em solid var(--color-secondary);
}

footer span {
    display: block;
    text-align: right;
    margin: 0 1em;
    padding-bottom: 0.5em;
    color: var(--color-light-text);
}

footer ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 0.5em 0 0;
    padding: 0;
}

footer li {
    margin: 0.5em 0.5em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-secondary-highlight)
}

@media only screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    #nav-bar ul {
        padding: 0;
    }

    #benefits .container {
        width: 70vw;
    }

}

@media only screen and (max-width: 768px) {

    #nav-bar a {
        font-size:  1.6rem;
    }

    #email {
        font-size: 1.6rem;
    }

    #video {
        max-width: 90%;
    }

    #features .flex {
        flex-direction: column;
    }

    #benefits .container {
        width: 90vw;
    }

    #features .container {
        width: 100vw;
        margin: 0;
    }

    #pricing .card-container {
        flex-direction: column;
        align-items: center;        
    }

    #pricing .card {
        margin: 2em 0 0 0;
    }

    #pricing .subscribe-button {
        padding: 0.5em 5em;
    }

    footer ul {
        justify-content: center;
    }

    footer span {
        text-align: center;
    }

}